*{
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body{
  background-color: #a7e9af;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1.3s;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 60%;
  width: 100%;
  padding-bottom: 2rem;
  margin: 0 .6rem;
}

.top-bar{
  position:absolute;
  top: 0;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 5px 10px 5px #32333376;
  padding: 0 2%;
  font-weight: bold ;
}

.top-bar > div{
  height: 100%;
  font-size: 1rem;
  line-height: 8vh;
}

.color{
  color: #178ccb;
}

.color-value{
  width: 40%;
  min-width: 16.8rem ;
  text-align: center ;
  font-size: 1.5rem;
  color: white;
  padding: .5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #050808;
  font-weight: bold;
}

.colour-change{
  color: #178ccb;
}

button{
  width: 6.9rem;
  height: 2rem;
  border-radius: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  /* position: relative;
  left: 50%;
  transform: translate(-50%); */
  border: 2px solid white;
  cursor: pointer;
  margin-bottom: ;
}
